:root{
    --general: #4CC9F0;
    --event: #F72585;
    --registrar: #4895EF;
    --cos: #F94144;
    --coe: #F3722C;
    --cafa: #F8961E;
    --cie: #F9844A;
    --cit: #F9C74F;
    --library: #4361EE;
    --vandalism: #E57A44;
    --bullying: #988F2A;
    --missing-item: #FBF7F4;
    --lgbtq: #A799B7;
    --suspension: #E8D9A6;
}

.main{
    margin: 0 10%;
    margin-top: calc(50px + var(--navbar-height));
    width: -webkit-fill-available;
}

.container {
    height: 100vh;
    display: grid; 
    grid-template-columns: 1.3fr 0.7fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "content-area francis"
      "content-area cielo"
      "content-area tags"; 
}

.content-area { 
    grid-area: content-area; 
    padding: 10px 15px;
    height: -webkit-fill-available;
}

.francis {
    grid-area: francis;
}

.cielo {
    grid-area: cielo; 
}

.tags { 
    grid-area: tags; 
    padding: 10px 15px;
}

.create-thread, .login{
    width: -webkit-fill-available;
    text-align: center;
    font-size: 10px;
    background-color: var(--light);
    padding: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 15px;
}

.login{
    justify-content: center;
    height: 20px;
}

.create-thread span{
    background-color: var(--primary);
    height: 30px;
    width: 30px;    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-radius: 10px;
}

.divider{
    margin: 1em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divider div{
    flex-grow: 1;
}

.threads-container{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    height: calc(100% - 260px);
    position: fixed;
    width: 50vw;
}

.thread{
    padding: 30px 20px;
    background-color: var(--light);
    border-radius: 7px;
    margin-bottom: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.thread-title{
    font-weight: 600;    
    font-size: 1.3em;
    cursor: pointer;
}

.thread-author{
    margin: 20px 0;
    display: flex;
    align-items: center ;
    justify-content: space-between  ;
    width: -webkit-fill-available;
}

.thread-avatar{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.thread-details{
    margin: 0 10px;
}

.thread-name{
    font-size: 15px;
}

.thread-published{
    font-size: 10px;
    color: gray;
}

.thread-user{
    display: flex;
    align-items: center;
}

.thread-tags{
    font-size: 10px;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 20px;
    margin-right: 5px;
}

.thread-user-type{
    font-size: 10px;
    padding: 4px 10px;
    margin: 0 10px;
    border-radius: 10px;
    border: 1px solid var(--gray-dark);
}
.thread-content{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 13px;
}


.thread-content-text{
    font-size: 14px;
}

.thread-buttons{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.thread-save, .thread-add-response{
    height: 20px;
    width: fit-content;
    padding: 7px 10px;
    border-radius: 10px;
    background-color: var(--gray-light);
    margin-right: 10px;
    color: gray;
}

.thread-add-response{
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.thread-add-response i,  .thread-save i{
    color: gray;
    font-size: 15px;
}

.thread-add-response i{
    margin-right: 10px;
}

.tags-container{
    border-radius: 5px;
    background-color: var(--light);
}

.tag-header{
    padding: 10px;
    font-size: 13px;
}

.tag-links{
    padding: 15px;
    text-align: center;
}

.tags-category{
    text-decoration: none;  
    font-size: 13px;
    padding: 2px 10px;
    border-radius: 1em;
    margin-top: 5px;
    border: 1px solid var(--gray); 
}

.closed i {
    color: rgb(130, 230, 97)!important;
}

.closed {
    border: 1px solid rgb(130, 230, 97)!important;
}

.closed p{
    color: rgb(130, 230, 97)!important;
}

.open i {
    color: rgba(255, 255, 255, 0.65)!important;
}

.open {
    border: 1px solid rgba(255, 255, 255, 0.65)!important;
}

.open p{
    color: rgba(255, 255, 255, 0.65)!important;
}

#load-more{
    width: -webkit-fill-available;
    text-align: center;
    font-size: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid var(--gray);
    background-color: transparent;
    margin-right:10px; 
}

.thread-author-details{
    display: flex;
    align-items: center;
}

.general{
    color: var(--general);
    border: 1px solid var(--general);
}

.event{
    color: var(--event);
    border: 1px solid var(--event);
}

.registrar{
    color: var(--registrar);
    border: 1px solid var(--registrar);
}

.cos{
    color: var(--cos);
    border: 1px solid var(--cos);
}

.coe{
    color: var(--coe);
    border: 1px solid var(--coe);
}

.cafa{
    color: var(--cafa);
    border: 1px solid var(--cafa);
}

.cie{
    color: var(--cie);
    border: 1px solid var(--cie);
}

.cit{
    color: var(--cit);
    border: 1px solid var(--cit);
}

.library{
    color: var(--library);
    border: 1px solid var(--library);
}

.vandalism{
    color: var(--vandalism);
    border: 1px solid var(--vandalism);
}

.bullying{
    color: var(--bullying);
    border: 1px solid var(--bullying);
}

.missingitem{
    color: var(--missing-item);
    border: 1px solid var(--missing-item);
}

.lgbtq{
    color: var(--lgbtq);
    border: 1px solid var(--lgbtq);
}

.suspension{
    color: var(--suspension);
    border: 1px solid var(--suspension);
}

.tags-container{
    height: 40px;
    display: flex;
    align-items: flex-start;
}

@media (prefers-color-scheme: dark){
    .create-thread, .login{
        background-color: var(--dark-secondary);
    }

    .thread{
        background-color: var(--dark-secondary);
    }

    .thread-user-type{
        border: 1px solid var(--gray-light)
    }

    .thread-save, .thread-add-response{
        background-color: var(--gray);
    }

    .thread-add-response i,  .thread-save i{
        color: gray;
    }

    .tags-container{
        background-color: var(--dark-secondary);
    }

    .tags-category{
        border: 1px solid var(--light); 
    }
}