.main{
    height: 100vh;
    width: -webkit-fill-available;   
    width: -moz-available;
}

nav{
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    background-color: transparent;

}

.search-bar {
    display: none;
}

.navbar-scrolled{
    background-color: #2d3748;
    -webkit-box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 30%);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 30%);
}

html,body{
    overflow-y: hidden;
    scroll-behavior: smooth;
    overflow-x: hidden;
    height: 100vh;
}

.container{
    overflow-y: visible;  
}

.first-div{
    position: relative;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: linear-gradient(to bottom, #1A202C, #1A202C, #2D3748);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.landing-image img{
    height: 80vh;
    opacity: 0;
    animation: FadeInImg 2s;
}

.landing-header {
    opacity: 0;
    font-size: 50px;
    margin-bottom: 10px;
}

.landing-paragraph{
    opacity: 0;
}

.main-intro{
    position: absolute;
    top: 60%;
    left: 10%;
    transform: translate(-10%, -60%);
    max-width: 500px;
    animation: FadeIn 1s;
}

@keyframes FadeIn{
    from{
        transform: translate(-30%, -60%);

    }
    to{
        transform: translate(-10%, -60%);
    }
}


#main-title{
    color: white;
    font-size: 55px;
    opacity: 0;
}
.main-intro p{
    font-size: 20px;
    text-align:left;
    margin-top: 20px;
    opacity: 0;
}

.btn_start{
    margin-top: 2.5em;
    padding: 12px 15px;
    background-color: var(--primary);
    border-radius: 5px;
    width: fit-content;
    min-width: 100px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    opacity: 0;
}

.btn_start:hover{
    transform: scale(1.1);
}

@keyframes FadeInImg{
    from{
        transform: translateX(50%);
    }
    to{
        transform: translateX(0%);
    }
}

.second-div{ 
    position: relative;
    background-color: #2d3748;
    height: 60vh;
    padding: 0 1em 0 1em;
}

.second-obj-desc{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    align-items: center;
}
.cards{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #1A202C;
    height: 60%;
    margin: 2em;
    overflow: hidden;
    border-radius: 10px;
    padding: 1.5em;
    /* opacity: 0;
    position: relative;
    transform: translateY(100px);
    transition: all 1s ease; */
}

/* .cards.open{
    transform: translateY(0px);
    opacity: 1;
    z-index: 0;
} */

#card-1{
    opacity: 0;
    position: relative;
    transform: translateY(100px);
    transition: all 1s ease;
}

#card-1.open{
    transform: translateY(0px);
    opacity: 1;
    z-index: 0;
}

#card-2{
    opacity: 0;
    position: relative;
    transform: translateY(150px);
    transition: all 1s ease;
}

#card-2.open{
    transform: translateY(0px);
    opacity: 1;
    z-index: 0;
}

#card-3{
    opacity: 0;
    position: relative;
    transform: translateY(200px);
    transition: all 1s ease;
}

#card-3.open{
    transform: translateY(0px);
    opacity: 1;
    z-index: 0;
}


.card-img{
    height: 50%;
}

.cards h1{
    margin: 1em 0 .5em 0;
    font-size: 25px;
}

.cards p{
    margin: 0 .5em 0 .5em;
    text-align: center;
    font-size: 17px;
}

.objective-div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1em 0;
    background-color: #2D3748;
    height: 55vh;
    opacity: 0;
    position: relative;
    transform: translateY(50px);
    transition: all 1s ease;
}

.objective-div:nth-child(odd){
    background-color: #1A202C;
}

.objective-div.open{
    transform: translateY(0px);
    opacity: 1;
    z-index: 0;
}


#comm-img, #friendly-img{
    height: 70%;
}

#teamwork-img{
    height: 60%;
}


.main-obj-desc{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 550px;
    
}

.obj-title{
    font-size: 50px;  
    color: var(--primary);
    margin-bottom: 10px;
}

.obj-desc{
    text-align: justify;
}

.objective-container{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 1em;
    background-color: #1A202C;
    border-radius: 100%;
    overflow: visible ;
    width: 400px;
    height: 400px;
}

.objective-container:nth-child(odd){
    background-color: #2d3748;
}

.status-div{
    height: 30vh;
    background-color: #1A202C;
    background-image: linear-gradient(to bottom, #2D3748,  #1A202C);
}

.status-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
}

.status-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.status-number{
    font-size: 50px;
    color: var(--primary);
}

.status-title{
    font-size: 25px;
    color: white;
}

.contact-us{
    height: 60%;
    background-color: #1A202C;
}

.container-contact-us{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding: 10px;
}

.send-us{
    max-width: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact-title{
    font-size: 25px;
    color: var(--primary);
}

.message-detail{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-name{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-grow: 1;
    margin: 1em 1em 0 0;
}

.contact-email{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-grow: 1;
    margin-top: 1em;
}

.comment-box{
    margin: 1em 1em 1em 0;
    padding: 1em;
    border: .5px white solid;
}

.contact-message{
    display: flex;
    padding: 1em 0;
    height: 100%;
    flex-direction: column;
}
#message-box{
    margin: 1em 1em 1em 0;
    width: -webkit-fill-available;
    width: -moz-available;
    width: -moz-available;
    height: 100%;
    border: .5px white solid;
}

.contacts{
    max-width: 500px;
    width: 100%;
}

.contact-title{
    padding-bottom: .5em;
}
.contact-sub-title{
    margin: .5em 0; 
}

.contact-desc{
    margin-bottom: 2em;
    font-size: 20px;
    font-weight: 500;
}

.footer-container{
    height: 25vh;
    background-image: linear-gradient(to bottom, #1A202C, #2D3748);
    margin-top: 2em; 
}

.footer-socmed{
    text-align: center;
    font-size: 30px;
    padding: 1em;
}

.footer-socmed i:hover{
    color: var(--primary);
}


.footer-container p{
    text-align: center;
}

@media (max-width: 1000px){
    .landing-header {
        font-size: 40px;
    }
    .landing-image img {
        height: 60vh;
    }

    .cards {
        margin: 10px;
        padding: 1em;
    }

    .cards h1 {
        margin: 10px 0;
        font-size: 15px;
    }

    .cards p {
        margin: 0 10px;
        font-size: 12px;
    }

    .card-img {
        height: 100px;
    }    
}

@media (max-width: 850px){
    .objective-div {
        flex-direction: column;
        height: fit-content;
    } 

    .main-obj-desc {
        text-align: center;
    }

    .obj-desc {
        text-align: center;
        font-size: 13px;
        margin: 2em;
        margin-top: 1em;
    }
}

@media (max-width: 750px){
    .landing-image img {
        display: none;
    }

    .landing-header {
        font-size: 30px;
    }

    .cards {
        height: 300px;
    }

    .second-div {
        height: auto;
    }

    .second-obj-desc {
        grid-template-columns: 1fr;
    } 

    .cards h1 {
        margin: 10px 0;
        font-size: 20px;
    }

    .cards p {
        margin: 0 10px;
        font-size: 17px;
    }

    .card-img {
        height: 150px;
    }
}

@media (max-width: 650px){
    .contact-us{
        padding: 2em;
        height: auto;
    }

    .container-contact-us{
        flex-direction: column-reverse;
        align-items: flex-start;
    }
}

@media (max-width: 550px) {
    .obj-title {
        font-size: 30px;
    }

    .objective-container {
        width: 300px;
        height: 300px;
    }

    .contact-name {
        margin: 1em 0;
    }
    
    .message-detail {
        grid-template-columns: 1fr;
    }

    .status-title{
        font-size: 13px;
        color: white;
    }
}

@media (max-width: 350px){
    .second-div {
        padding: 0;
    }
}