.main{
    margin: 0 auto;
    margin-top: calc(50px + var(--navbar-height));
    width: -webkit-fill-available;
    width: -moz-available;
    max-width: 1200px;
    height: 100%;
}

.message-container{
    display: flex;
    height: 80vh;
    width: -webkit-fill-available;
    max-width: 1200px;
    position: fixed;
}

.users-list{
    padding: 20px;
    height: -webkit-fill-available;
    height: -moz-available;
    width: -webkit-fill-available;
    max-width: 350px;
}

.user-conversation{
    width: 100%;    
    position: relative;
    background-color: #2D3748;
    overflow: hidden;
}

.message-search{
    display: flex;
    align-items: center;
    background-color: #2D3748;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
}

.message-label{
    font-size: 20px;
}

.message-list{
    overflow-y: scroll;
    height: calc(99vh - 250px);
}

.message-list, .conversation {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.message-list::-webkit-scrollbar, .conversations::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.message-search-input{
    width: 100%;
    border: none;
}

.message-card{
    max-height: 100px;
    max-width: -webkit-fill-available;
    max-width: -moz-available;
    background-color: #2D3748;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}

.not-seen p{
    font-weight: 800;
}

.not-seen span{
    font-weight: 800;
}

.message{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: -webkit-fill-available;
    width: 100%;
    white-space: nowrap;
    font-size: 11px;
    color: var(--gray-lighter);
    margin: 5px 0 0 40px;
}

.message-avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.message-name{
    font-size: 13px;
    margin: 0 10px;
}

.user{
    display: flex;
    align-items: center;
}

.message-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message-datetime{
    font-size: 10px;
    color: var(--gray-lighter);
}

.conversation-container{
    position: relative;
    width: 100%;
    height: 100%;
}

.grid-container{
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.3fr 2.4fr 0.3fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "message-header"
      "message-area"
      "message-input"; 
      height: 100%;
}

.conversation-details{
    grid-area: message-header;
    position: relative;
    height: 100%;
    background-color: #2D3748;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
}

.conversation-avatar{
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 50%;
}

.conversation-header{
    display: flex;
    padding: 10px;
    align-items: center;
}

.conversation-name{
    font-size: 13px;
}

.conversation-status{
    font-size: 10px;
}

.conversation-form{
    height: 70px;
    width: -webkit-fill-available;
    width: -moz-available;
    /* position: absolute;
    bottom: 0; */
    z-index: 10;
    display: flex;
    align-items: center;
    grid-area: message-input;
    justify-content: space-evenly;
}

.conversation-form textarea{
    position: relative;
    width: 80%;
    border-radius: 20px;
    border: none;
    padding: 10px;
}

.send-button{
    background-color: var(--primary);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.send-button:hover{
    background-color: var(--primary-dark);
}

.send-button i {
    color: white;
}

.conversations{
    height: -webkit-fill-available;
    min-height: min-content; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    grid-area: message-area;
    padding: 0 2em;
}

.bubble{
    word-wrap: break-word;
    width: fit-content;
    max-width: 50%;
    font-size: 13px;
    font-weight: 300;
    color: white;
    padding: 10px 12px;
    margin: 10px;
    margin-bottom: 8px;
    border-radius: 7px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    background-color: var(--primary);
}

.user{
    display: flex;
    justify-content: flex-end;
}

.me{
    background-color: var(--gray-lighter);
    color: black;
}

.message-time{
    font-size: 10px;
    color: var(--gray-lighter);
}

.me .message-time{
    color: gray;
}

.no-messages{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-conversation{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start-conversation img{
    width: 300px;
    height:auto;
}

.start-conversation p {
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
    color: var(--gray-lighter);
}

.no-conversation{
    font-size: 13px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-conversation p {
    color: var(--gray-lighter);
}

.active-convo{
    background-color: #42526d!important;
}

.side-button{
    display: none;
    position: absolute;
    width: 100%;
    background: #1A202C;
    height: 100%;
    top: var(--navbar-height);
}

#side-list{
    padding: 25px;
}

#sidelist-button{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 55px;
    width: 20px;
    background-color:var(--primary);
    z-index: 100;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    display: none;
    cursor: pointer;
}

@media (max-width: 1000px){
    .side-button{
        z-index: 101;
    }

    .message-list {
        height: calc(99vh - 210px);
    }

    #sidelist-button{
        display: flex;
    }
    
    .message-container{
        height: calc(100vh - var(--navbar-height));
    }

    .main {
        margin-top: var(--navbar-height);
    }

    .emoji-wysiwyg-editor {
        width: 60%!important;
    }

    .conversations{
        padding: 0 1em;
    }

    .bubble {
        max-width: 60%;
    }
} 