:root{
    --navbar-height: 80px;
}

nav{
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    background-color: var(--card-bg);
    justify-content: space-between;
    padding: 0 10%;
    position: fixed;
    top: 0;
    left: 0;
    width: -webkit-fill-available;
    width: -moz-available;
    z-index: 100;
    /*create a material dropshadow*/
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}

nav div{
    display: flex;
    align-items: center;
    width: auto;
}

.search-bar{
    display: flex;
    max-width: 250px;
    width: 300px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--gray-light);
    padding: 10px 10px;
    border-radius: 5px;
    margin: 0 20px;
}

.nav-search{
    border: none;
    width: 100%;
}

.search-icon{
    background-color: var(--light);
    padding: 0 3px;
    border-radius: 5px;
}

.search-icon i {
    color: var(--gray-lighter);
}

.nav-buttons{
    height: 100%;
    position: relative;

}

.nav-buttons ul{
    list-style: none;
    display: flex;
    height: -webkit-fill-available;
    height: -moz-available;
    align-items: center;
}

.nav-links{
    height: -webkit-fill-available;
    height: -moz-available;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-links a {
    text-decoration: none;
    margin: 0 20px;
    font-size: 14px;
}

.notification{
    height: auto;
    width: auto;
    background: var(--gray-light);
    padding: 3px 7px;
    border-radius: 4px;
    margin: 0 20px;
}

.notification span i {
    color: var(--gray-lighter);
}

.user-avatar{
    margin: 0 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.active{
    border-bottom: 3px solid var(--primary);
}

.nav-dropdown{
    position: relative;
}

.dropdown-content{
    position: absolute;
    top: calc(var(--navbar-height) - 15px);
    background-color: var(--gray);
    min-width: 150px;
    right: 0;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 5px;
    transition: none;
    /*material drop shadow*/
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content .active{
    display: flex;
}

.dropdown-content a{
    display: block  ;
    font-size: 13px;
    text-decoration: none;
    padding: 7px;
    margin: 2px 0;
    border-radius: 5px;
    width: -webkit-fill-available;
    width: -moz-available;
}

.dropdown-content a:hover{
    background-color: rgba(0,0,0,0.3);
}

/* DARK MODE */

@media (prefers-color-scheme: dark){

    .search-icon{
        background-color: var(--dark-secondary);
        padding: 0 3px;
        border-radius: 5px;
    }
    
    .search-icon i {
        color: var(--gray-light);
    }
    
    
    .search-bar{
        background-color: var(--gray);
    }

    .notification{
        background: var(--gray);
        padding: 3px 7px;
        border-radius: 4px;
        margin: 0 20px;
    }
}