.main{
    margin: auto;
    margin-top: calc(20px + var(--navbar-height));
    margin-bottom: var(--navbar-height);
    width: -webkit-fill-available;
    width: -moz-available;
    max-width: 800px;
    background-color: #2d3748;
    padding: 30px;
    padding-bottom: 20px;
    position: relative;
}

.null-search{
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    position: relative;
    height: 100%;
}

.navigation-item{
    padding: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 200px;
}

.navigation-item i {
    font-size: 1em;
    margin-right: 20px;
}

.navigation-item:hover{
    background-color: rgba(0,0,0,0.4);
}

.result-container{
    flex-grow: 1;
    height: 70vh;
    border-left: 1px solid rgba(255,255,255,0.3);
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    overflow-y: auto;
    width: 100%;
    animation: FadeInResult .3s ease-in-out;
}
@keyframes FadeInResult {
    from{
        opacity: 0;
        width: 0;
        transform: translateX(250px);
       } 
       to{
        opacity: 1;
        width: 100%;
        transform: translateX(0);
    }
}

.person-container{
    width: -webkit-fill-available;
    width: -moz-available;
    background-color: #3B475C;
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.no-results{
    height: 55vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255,255,255,0.3);
}

.result-avatar{
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.search-user-details{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.user-details{
    font-size: 10px;
    color: rgba(255,255,255,.5);
    font-style: italic;
}

.thread-container{
    width: -webkit-fill-available;
    width: -moz-available;
    background-color: #3B475C;
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
}

@media (max-width: 950px){

    .main{
        padding: 30px 10px;
    }
    .search-container{
        flex-direction: column;
        align-items: normal;
        height: 70vh;
    }
    .navigation-bar{
        display: flex;
        text-align: center;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 1em;
        width: auto;
        animation: FadeIn .3s ease-in;
    }
    @keyframes FadeIn {
       from{
        opacity: 0;
        transform: translateY(-100px);
       } 
       to{
        opacity: 1;
        transform: translateY(0);
    }
    }
    .navigation-item{
        justify-content: center;
        width: 150px;
    }
    .result-container{
        border-left: none;
        animation: FadeInCon .3s ease-out;
        width: auto;
        padding: 0 10px;
    }

    @keyframes FadeInCon {
        from{
            opacity: 0;
            width: 0;
            transform: translateX(350px);
        }
        to{
            opacity: 1;
            width: 100%;
            transform: translateX(0);
        }
    }
    
}

@media (max-width: 400px){
    .navigation-bar{
        width: auto;
    }
}
@media  (max-height: 655px) {
    .search-container{
        height: 65vh;
    }
}