.main {
    overflow-y: scroll;
    height: 100vh;
    width: -webkit-fill-available;
    width: -moz-available;
}

.tup-gif {
    background-image: url('../assets/images/TUP.gif');
    min-height: 400px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

#dashboard {
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.5em;
    color: var(--primary);
}

#dashboard div {
    width: 80%;
}

#dashboard p {
    font-weight: 500;
}

.dashboard-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 1em;
    gap: 1%;
}

.box {
    background-color: var(--light);
    border-radius: 10px;
    padding: 1em;
}

.total-title {
    color: var(--gray-dark);
    padding-bottom: 1em;
    font-size: 20px;
    font-weight: 400;
}

.inside-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 .5em;
}


.bxs-user {
    color: var(--gray-dark);
}

.total-number {
    font-size: 3em;
}

.icon {
    font-size: 50px;
}


.wrapper {
    display: grid;
    grid-template-columns: 1.5fr .5fr;
    gap: 5px;
    width: 100%;
    margin-bottom: 2em;
}

.container {
    height: 100%;
}

.pending-container {
    height: 60vh;
    border-radius: 10px;
    background-color: var(--gray-lighter);
    margin: 1em;
    height: 100%;
}

.pending-title {
    color: var(--gray-dark);
    padding: 1em;
    font-weight: 400;
}

.pending-nav {
    padding: .5em;
}

#pending-cate {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#pending-cate li {
    color: var(--gray-dark);
    list-style: none;
    background-color: var(--gray-light);
    border-radius: 15px;
    font-weight: 400;
    padding: 0em 1.5em 0em 1.5em;
    margin: 0 .5em 0 .5em;
    transition: .8s;
}

#pending-cate li:hover {
    color: var(--primary);
    background-color: var(--gray-dark);
    cursor: pointer;
}

.pending-content {
    background-color: white;
    height: 50%;
    margin: 1em;
    border-radius: 10px;
}

.pending-thread-title h1 {
    color: var(--gray-dark);
    font-size: 1.5em;
    padding: 1em;
    font-weight: 600;
}

.pending-author {
    display: flex;
    align-items: center;
    padding: 0 1em 1em 1em;
}

.pending-thread-avatar {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.pending-details {
    margin: 0 20px;
}

.pending-user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pending-user-type {
    font-size: 10px;
    padding: 4px 10px;
    margin: 0 10px;
    border-radius: 10px;
    border: 1px solid var(--gray-dark);
    color: var(--gray-dark);
}

.pending-name {
    color: var(--gray-dark);
    font-size: 15px;
    font-weight: 600;
}

.pending-date-published {
    color: var(--gray-dark);
    font-size: 10px;
}

.pending-main-threads {
    color: var(--gray-dark);
    font-size: 15px;
    padding: 1em;
}

.pending-btn {
    display: flex;
    justify-content: flex-end;
    align-content: space-around;
    margin: 0 1em 0 1em;
}

.pending-btns {
    margin: 1em .5em 1em .5em;
    padding: .5em 1em .5em 1em;
    color: var(--light);
    transition: .5s;
    border-radius: 5px;
    border: none;
    background-color: var(--dark-secondary);
}

.pending-btns:hover {
    color: var(--primary);
    background-color: var(--gray-dark);
    border-radius: 5px;
    cursor: pointer;
}

.container-1 {
    height: 50%;
    position: sticky;
    top: 0;
}

.list-user {
    background-color: var(--light);
    margin: 1em;
    padding: .5em;
    border-radius: 10px;
}

.list-user-title {
    color: var(--gray-dark);
    padding: 1em;
    font-weight: 400;
}

#list-cate {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#list-cate li {
    list-style: none;
    color: var(--gray-dark);
    padding: 1em 2em 1em 2em;
    margin: .5em;
    font-weight: 400;
    font-size: 15px;
    background-color: var(--light);
    border-radius: 10px;
    transition: .5s;
}

#list-cate li:hover {
    color: var(--primary);
    background-color: var(--gray-dark);
    cursor: pointer;
}

.pending-main-threads ol{
    padding: 30px;
}

#load-more-button{
    width: -webkit-fill-available;
    width: -moz-available;
    background-color: transparent;
    padding: 10px 0;
    border: 1px solid rgba(255, 255, 255, .4);
    cursor: pointer;
    margin: 15px;
}

#load-more-button:hover{
    background-color: rgba(255, 255, 255, .2);
}

.user-container{
    background-color: var(--gray);
    width: -webkit-fill-available;
    width: -moz-available;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 5px;
}

.user-icon{
    width: 50px;
    height: 50px;
    border-radius: 7px;
}

.user-details{
    display: flex;
    align-items: center;
}

.user-info{
    margin-left: 10px;
    display: flex;
    flex-direction: column;   
}

.user-thread-post{
    font-size: 12px;
}

.user-name{
    font-size: 18px;
    font-weight: 500;
}

.user-btn{
    display: flex;
    align-items: center;
}

.user-btn button, .user-btn select{
    background: transparent;
    padding: 7px 13px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: var(--dark-secondary);
}

.restricted{
    background: rgba(255, 0, 0, 0.3)!important;
}

select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

/* For IE (thanks to @SaiManoj) */
select::-ms-expand {
    display: none;  
}

.moved-notice{
    font-size: 13px;
    color:rgba(255, 255, 255, 0.5);
    font-style: italic;
}

#restrict-modal{
    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.4);
    width: -webkit-fill-available;
    width: -moz-available;
    height: 100%;
    top: 0;
    left: 0;
}

.modal-content{
    background-color: var(--gray);
    width: fit-content;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
}

.close{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5em;
    margin: 20px;
    cursor: pointer;
}

.restrict-select{
    background: var(--gray);
    padding: 7px 13px;
    margin: 20px 0;
    cursor: pointer;
}

.restrict-button{
    background: var(--primary);
    padding: 7px 13px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.restrict-button:hover{
    background: var(--primary-dark);
}

.moved-notice{
    margin: 20px 0; 
}

/*decline modal*/
.modal-decline{
    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.4);
    width: -webkit-fill-available;
    width: -moz-available;
    height: 100%;
    top: 0;
    left: 0;
}

.modal-decline-content{
    background-color: var(--gray);
    max-width: 500px;
    width: 100%;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
}

#decline-reason{
    width: -webkit-fill-available;
    width: -moz-available;
    height: 200px;
    margin: 20px 0;
}

.close-decline-btn{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5em;
    margin: 20px;
    cursor: pointer;
}

#decline-thread-btn{
    background: var(--primary);
    padding: 7px 13px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#decline-thread-btn:hover{
    background: var(--primary-dark);
}

.decline-reason{
    margin: 10px;
    font-size: 13px;
    color: var(--secondary);
}

.decline-reason span{
    color: var(--secondary);

}

@media(prefers-color-scheme: dark) {

    .pending-container,
    .box,
    .list-user {
        background-color: var(--dark-secondary);
    }

    .total-title,
    .pending-title,
    #pending-cate li,
    .pending-thread-title h1,
    .pending-user-type,
    .pending-name,
    .pending-date-published,
    .pending-main-threads,
    .list-user-title,
    #list-cate li,
    .bxs-user {
        color: var(--light);
    }

    .pending-user-type {
        border: 1px solid var(--light);
    }

    .pending-content,
    #pending-cate li,
    #list-cate li {
        background-color: var(--gray);
    }
}