.main{
    margin: 0 2%;
    margin-top: calc(50px + var(--navbar-height));
    width: -webkit-fill-available;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1.5fr .5fr;
    gap: 10px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    max-width: 95vw;
    width: 100%;
}

.container-1{
    margin-bottom: 5em;
    padding-bottom: 5em;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 70vw;
}

.container-1 {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.container-1::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.threads{
    padding: 2em;
    background-color: var(--light);
    border-radius: 5px;
}

.titles{
    border-radius: 10px;
    background-color: var(--light);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

}
.thread-title{
    font-size: 20px;
    margin-bottom: 1em;
}

.thread-avatar{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.author, .author-comment{
    display: flex;
    align-items: center;
}

.details{
    margin: 0 20px;
}

.user{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.user-type{
    font-size: 10px;
    padding: 4px 10px;
    margin: 0 10px;
    border-radius: 10px;
    border: 1px solid var(--gray-dark);
}
.name{
    font-size: 15px;
}
.date-published{
    font-size: 10px;
}

.main-threads{
    display: flex;
    align-items: center;
    background-color: var(--light);
    border-radius: 10px;
}
.thread-content-text{
    font-size: 17px;
 
}
.divider{
    margin: 1em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.divider div{
    width: 90%;
}

.author{
    margin-bottom: 1em;
}
.author-comment{
    padding-bottom: 1em;
}

.main-answer{
    padding-top: 1em;
    font-size: 13px;
}

.main-comment{
    padding: 2em;
    border-radius: 5px;
    margin: 20px 0;
}
.your-comment{
    margin: 1em 1em 0 0;
}
.submission{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.submit-btn{
    width: 25%;
    margin: 1em 1em 0 0;
    padding: .5em;
    background-color: var(--light);
    cursor: pointer;
    border: 0;
    border-radius: 5px;
}
.submit-btn:hover{
    color: #da0037;
}

.comment-box{
    width: -webkit-fill-available;
    height: 25vh;
    border-radius: 10px;
    font-size: 15px;
    padding: 1em;
}

.response {
    display: flex;
    width: -webkit-fill-available;
    justify-content: flex-end;
    margin-top: 15px;
}

.vote-button{
    padding: 10px 15px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
}

.vote-button:hover{
    background-color: var(--gray-dark);
}

.vote-button span{
    font-size: 10px;
    color: var(--gray-lighter);
    margin: 0 5px;
}

.container-2{
    background-color: red;
}

@media (prefers-color-scheme: dark){
   .titles, .main-threads, .main-comment, .submit-btn{
    background-color: var(--dark-secondary);
   }
   .user-type{
    border: 1px solid var(--gray-light);
   }
   
    .threads{
        background-color: var(--dark-secondary);
    }
}